@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

html{
	scroll-behavior: smooth;
	
	/* === Varialbles For Storing Colors === */
	--background-clr: #edf0f6;
	--dark-bg-clr: #e0e0e0;
	--primary-clr: #fa5a20;
	--light-heading-clr: #f9f9f9;
	--light-secondary-heading-clr: #ccc;
	--light-text-clr: #333333;
	--dark-heading-clr: #242d38;
	--dark-text-clr: #7b7b7b;
}
    *{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: 'Ubuntu', sans-serif;
    }
        body {
            font-family: 'Ubuntu', sans-serif;
            margin: 20px;
            background-color: var(--dark-bg-clr);
            display: grid;
            place-items: center;
        }
        header {
            text-align: center;
        overflow: hidden;
        position: relative;
            max-width: 100vw;
            color: var(--light-heading-clr);
          padding-bottom: 15px;  
           
        }
        h1 {
            margin: 0;
             font-weight: 500;
            font-family: 'Ubuntu',sans-serif;
            color: #fa5a20;
            text-decoration: underline;
            text-shadow: 5px 5px 20px #fff;
        }
        section {
          max-width: 550px;
            margin: 30px 0;
            padding: 15px;
            cursor: pointer;
            position: relative;
            border-radius: 5px;
            box-shadow: 5px 5px 10px #c1c1c1,inset -5px -5px 10px #ffffff;            
            color: var(--light-text-clr);
            text-shadow: px 2px 2px #777;
            transition: transform .4s ease-in-out;
        }
        section:nth-child(even){
          animation: faderight .5s ease-in-out;
        }
        section:nth-child(odd){
          animation: fadeleft .5s ease-in-out;
        }
        @keyframes fadeleft{
          0%{
            transform: rotate(45deg);
            left: -100%;
          }
          100%{
            transform: rotate(0deg);
            left: 0;
          }
        }
        @keyframes faderight{
          0%{
            transform: rotate(-45deg);
            left: 100%;
          }
          100%{
            transform: rotate(0deg);
            left: 0;
          }
        }
        ul {
            list-style-type: none;
            padding: 0;
        }
        li {
            margin: 10px 0;
        }
        section:hover{
          transform: scale(1.06);
        }
        section h2{
          color:#fa5a20;
        }
        
  